<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale = 1.0">
<link rel="stylesheet" href="main.css"/>
<title>Test System Exam's of AUCA</title>
</head>
<body>

    
    <button onclick="location.href='Login.html'" class="button">Log Into Existing Account</button>
  
    <div class="form-registration">
    	<form id="registration">
    		<h1 style = "color: black" class="header-registration"> Registration</h1>
    		<input type="text" name="first_name" id="button" placeholder="First Name"><br>
    		<br>
    		<input type="text" name="last_name" id="button" placeholder="Last Name"><br>
    		<br>
    		<input type="email" name="email" id="button" placeholder="Email Address"><br>
    		<br>
    		<input type="password" name="password" id="button" placeholder="Password"><br>
    		<br>
    		<input type="password" name="confirm_password" id="button" placeholder="Confirm Password"><br>
    		<br>
    		<input type="button" onclick="location.href='base.html'" value="Register" id="butt">
    		
    	</form>
  



</body>
</html>
