<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale = 1.0">
<link rel="stylesheet" href="mainbase.css"/>
<title>Test Sestem Exam's of AUCA</title>
</head>
<body>

    <img src="C:\Users\Cronix\Desktop\Test\Source\4.png" alt="Avatar" class="ava">

    <div class="cardlogin"> 
        <form id="card-block">
             <h2> Sign in <h2>
                                
                <input name="email" type="email" placeholder = "Email Address" id="button"><br>
                  <br>
                          
                <input name="login_password" type="password" placeholder = "Password" id="button"><br>
                  <br>
                            
                 <input type="button" onclick="location.href='base.html'" value="Login" class="btn btn-primary">
        </form>
    </div>
</body>
</html>
