<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8">
<meta name = "viewport" content="width=device-width, initial-scale = 1.0">
<link rel="stylesheet" href="mainbase.css"/>
<title>Test Sestem Exam's of AUCA</title>
</head>
<body>


	<div id="navbar">
      <img src="C:\Users\Cronix\Desktop\Test\Source\7.png" alt="Avatar" class="avatar">
      
       <a href="settings.html">Settings</a>
       <a href="mytests.html">My Tests</a>
       <a class="active" href="base.html">Home</a>
    </div>

    <div>
    	
    </div>
    <!--javascript:void(0)-->

    <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>
    
</body>
</html>
